@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

html,
body {
  font-family: 'DM Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6,
  p,
  ol li,
  ul li {
    font-family: 'DM Sans', sans-serif;
  }

.css-n6njt2 ejj6ze0{
  visibility: hidden;
}

footer {
  visibility: hidden;
}
