@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

html,
body {
  font-family: 'Poppins', sans-serif;
}

.css-n6njt2 ejj6ze0{
  visibility: hidden;
  display: none;
}

footer {
  visibility: hidden;
}
